[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
scikit-learn = "*"
pandas = "*"

[requires]
python_version = "3.13.1"
